# Logs
logs
*.log

# Node.js
node_modules
npm-debug.log*

# Build
/dist
/build
/out
/*.js.map

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Qwen
.qwen

#.opencode
.opencode

# Environment
.env
.env.local
.env.*.local

# E2e test
test-results

#party-kit
.partykit